.bg-dark-transparent{
    background-color: rgba(0,0,0,0.5);
}

.overflow-fix {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .dashboard-row {
    display: flex;
    flex-wrap: wrap;
    height: 50vh; /* Set the height to 50% of the viewport height */
  }